<div class="toolbar" role="banner">
    <img width="85" height="85" alt="The 86 Logo" src="../../../assets/86_logo.webp" />
    <div class="title">
        <ul>
            <li head>The 86</li>
            <li subhead>Coffee. Concerts. Creativity. Community</li>
        </ul>
    </div>
    <div class="spacer"></div>

    <div class="nav">
        <ul>
            <li (click)="navigateHome()">
                Home
            </li>
            <li (click)="navigateMenu()">
                Menu
            </li>
            <li (click)="navigateShops()">
                Shops
            </li>
            <li (click)="navigateCoffee()">
                Coffee
            </li>
        </ul>
    </div>
</div>