.spacer {
  flex: 1;
}
.toolbar {
  height: 90px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #2e2f30;
  color: #d8d8d8;
  font-weight: 600;
  filter: drop-shadow(0 0 0.75rem black);
}

.toolbar img {
  margin: 0 0 0 16px;
}

.nav ul {
  margin: 0 36px !important;
}

.nav ul li {
  cursor: pointer !important;
  display: inline !important;
  font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif !important
}

.nav ul li:after {
  content: " | ";
}

.nav ul li:last-child:after {
  content: "";
}

.title ul {
  margin: 0 -16px;
  padding: 0;
}

.title ul li {
  display: block !important;
}

.title ul li:before {
  content: "" !important;
}

[head] {
  font-size: 24px !important;
}

[subhead] {
  font-size: 14px !important;
}
